*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Gör ikon i canva, leta upp bild på älg skalle eller ta från animals mapp*/

#gridwrapper{
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    grid-template-rows: 18% 7% 950px 10%;
    grid-template-areas: 
    "he"
    "na"
    "se"
    "fo"
    
    ;

}

nav{
    display: flex;
    background-color: rgb(11, 115, 41);
    grid-area:"na";
    align-items: center;
    justify-content: space-evenly;
    
}

#ElgIkon{
    width: 110px; 
    height: 110px;
    
}

#icon_link{
    align-self: flex-start;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

#ElgIkon:hover{
    width: 115px;
    height: 115px;
    
}   

#rubrik{
    margin-right: 550px;
    align-self: center;
    color: white;
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    display: flex;
    flex-direction: row;
    grid-area:"he";
    background-color: rgb(4, 73, 23);
}

footer{
    background-color: rgb(33, 33, 33);
    grid-area:"fo"
}

section{
    grid-area: "se";
    background-color: rgb(255, 255, 255);
}

h1{
    
}

.nav_links{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
}

.nav_links:hover{
    font-size: 1.6rem;
    font-weight: bold;
    border: solid black;
    border-radius: 1%;
    
}

#oppe_tider{
    background-image: url(../img/oppetider_bakgrund.jpg);
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
    margin-top: 85px;
    
    
    
}

#oppetider_mellanrubrik{
    font-size: 1.2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.oppetider_text{
    margin-left: auto;
    margin-right: auto;
}

#oppetider_rubrik{
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;


}

#blankspace{
    grid-area: "bl";
    background-color: rgba(0, 0, 0, 0);
}

#oppetider_grid{
    display: grid;
    height: 300px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;

}

#veckodagar{
    grid-area: "ve";
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.li_veckodagar{
    color: crimson;
    font-size: 1.8rem;
    font-weight: bold;
}

.li_tider{
    font-size: 1.8rem;


}

li{
    margin-bottom: 12px;
    list-style: none;
}

#tider{
    grid-area: "ti";
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#MenyBody{
    background-color: black;
}

#OmOssBody{
    background-color: red;
}

