*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


#gridwrapper{
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    grid-template-rows: 11% 7% 950px 10%;
    grid-template-areas: 
    "he"
    "na"
    "op"
    "fo"
    
    ;

}

nav{
    display: flex;
    background-color: rgb(11, 115, 41);
    grid-area:na;
    align-items: center;
    justify-content: space-evenly;
    
    
    
}

#ElgIkon{
    width: 110px; 
    height: 110px;
    
}

#icon_link{
    align-self: flex-start;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

#ElgIkon:hover{
    width: 115px;
    height: 115px;
    
}   

#rubrik{
    margin-right:calc(50% - 100px);
    align-self: center;
    color: white;
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    display: flex;
    flex-direction: row;
    grid-area: he;
    background-color: rgb(4, 73, 23);
}

footer{
    background-color: rgb(4, 23, 10);
    grid-area:fo;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#menusection{
    display: flex;
    background-color: rgb(32, 31, 31);
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    }

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    width: 350px;
    height: 450px;
    background-color: rgb(22, 57, 12);
    border-radius: 5%;
    border: 3px black solid;
}

#card1{
    background-image: url(../img/food/Macka.jpeg);
    background-size: 350px 360px;
}

#card2{
    background-image: url(../img/food/KorvOchPommes.jpeg);
    background-size:cover;
}

#card3{
    background-image: url(../img/food/Pizza.webp);
    background-size: 350px 450px;
}

#card4{
    background-image: url(../img/food/Frukt.jpeg);
    background-size: cover;
}

.card_bottompart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 90px;
    border: 3px solid black;
    background-color: crimson;
}

.dish_name{
    font-size: 2rem;
    font-family: monospace;
}

.pricetag{
    margin-top: 5px;
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}

section{
    background-color: rgb(255, 255, 255);
}


.footerlinks{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footerlinks:hover{
    font-weight: bold;
    font-size: 1.23rem;
}

.nav_links{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
}

.nav_links:hover{
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 1%;
    
}

#oppe_tider{
    background-image: url(../img/oppetider_bakgrund.jpg);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 85px;
    grid-area: "op";
    
    
    
}

#oppetider_mellanrubrik{
    font-size: 1.2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.oppetider_text{
    margin-left: auto;
    margin-right: auto;
}

#oppetider_rubrik{
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;


}

#blankspace{
    grid-area: "bl";
    background-color: rgba(0, 0, 0, 0);
}

#oppetider_grid{
    display: grid;
    height: 300px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;

}

#veckodagar{
    grid-area: "ve";
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.li_veckodagar{
    color: crimson;
    font-size: 1.8rem;
    font-weight: bold;
}

.li_tider{
    font-size: 1.8rem;
}

li{
    margin-bottom: 12px;
    list-style: none;
}

#tider{
    grid-area: "ti";
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#MenyBody{
    background-color: black;
}

#OmOssBody{
    background-color: red;
}

#djurgrid{
    display: grid;
    height: 100vh;
    grid-template-columns: 60% auto;
    grid-template-rows: 11% 7% 1fr 1fr 10%;
    grid-template-areas: 
    "he he"
    "na na"
    "dj te"
    "hi te "
    "fo fo"
    ;
    
}

#djursection{
    display: flex;
    background-color:rgb(3, 16, 7);
    grid-area: dj;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#textsection{
    display: flex;
    background-image: url(../../img/compasspicture.jpg);
    background-size: 100% 100%;
   
    grid-area: te;

}

#Älg2{
    width: 400px;
    height: 250px;
    

}

#Älg3{
    width: 400px;
    height: 250px;
    
}

#HittaHitRubrik{
  color: white;
  
}

#HittaHitRuta{
    grid-area: hi;
    background-color: rgb(3, 16, 7);
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

#HittaHitText{
    color: white;

}


